@import url("https://fonts.googleapis.com/css?family=Sofia");

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia", sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
  background: linear-gradient(linear-gradient);
  color: rgb(29, 146, 64);
}
